In [1]:
import pandas as panda
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [2]:
dataset = panda.read_csv('Downloads/NAS.csv')
dataset.drop(["High", "Low", "Open", "Adj Close", "Volume"], axis="columns", inplace=True)
dataset = dataset.dropna(axis=0, how='any')
dataset['Date'] = dataset['Date'].str.replace('-','')
dataset = dataset.astype({"Date": int, "Close": float})
dataset.head(10)

        Date      Close
0   20031218  19.139799
1   20031219  18.454201
2   20031222  18.054300
3   20031223  17.425800
7   20031229  17.254400
8   20031230  17.711500
11  20040102  17.768600
12  20040105  17.711500
13  20040106  17.597200
14  20040107  17.140100

In [3]:
input = dataset.drop("Close", axis="columns")
target = dataset["Close"]
input.head(10)

        Date
0   20031218
1   20031219
2   20031222
3   20031223
7   20031229
8   20031230
11  20040102
12  20040105
13  20040106
14  20040107

In [4]:
X_train, X_test, Y_train, Y_test = train_test_split(input,target, test_size=0.20)

In [5]:
regObj = linear_model.LinearRegression()
regObj.fit(X_train, Y_train)

LinearRegression()

In [6]:
predictions = regObj.predict(X_test)
regObj.predict([[20340107]])

array([202.7287681])

In [7]:
print("Score:", regObj.score(X_test, Y_test))

Score: 0.2499750729689456